table {
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: aqua;

}
th,td{
    width: 80px;
    height: 30px;
    border: 1px solid #000000;
}
div{
    position: relative;
    left: 700px;
    top: -30px;
    border: 2px solid #000000;
    width: 500px;
    text-align: center;
}
div p{
    
    color: blue;
    text-align: center;

}
div.span{
    margin-left: 5px;
}